@(title: String)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ext-all.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ext-debug.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
</head>
<body>
</body>
</html>